<?xml version="1.0"?>
<model>
  <name>Simple Surgical Bed</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Liam Overett</name>
   <email>ljtoverett@gmail.com</email>
  </author>

  <description>
    Surgical bed represented by simple rectangular shape.
  </description>
</model>
